<div class="container">
    <div class="row">
        <h3>pisilési adatlap</h3>
        <div class="col-xs-12 row">
            <!-- <img class="col-xs-4" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
            <img class="col-xs-4" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
            <img class="col-xs-4" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
            <img class="col-xs-4" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
            <img class="col-xs-4" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"> -->
            <md-input-container class="noPadding col-xs-12">
                <textarea mdInput placeholder="üzenet" #text></textarea>
            </md-input-container>
        </div>
        <button md-raised-button class="peesuccess col-xs-12"
        (click)="peeSuccess(text)"
        >
        sikerült pisilni!</button>
    </div>
</div>
