nav {
    margin: 0;
    background-color: #F7FFF7;
}

a {
    padding-top: 25px;
    font-size: 40px;
}

.title {
    font-family: 'Indie Flower', cursive;
    color: #5e5e5e;
}

.dot {
    color: #FFE66D;
}
