.padding-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    background-color: #FFFDE7;
    max-height: calc(100vh - 394px);
}

li {
    font-family: 'Mogra', cursive;
    margin: 5px;
    background-color: #FFF59D;
    padding-right: 0;
    line-height: 1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    display: flex;
    align-items: center; /*align vertical */
}

li:hover {
    background-color: #FFE66D;
}

.upvote {
    padding-right: 0;
}

.heart {
    margin-right: -5px;
}
