.padding-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
    min-height: 250px;
    max-height: 300px;
    overflow: scroll;
    background-color: #F7FFF7;
}

li {
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    /*border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;*/
    background-color: #FFE66D;
    padding-right: 0;
    line-height: 1;
    box-shadow: 2px 2px 2px #888888;
    display: flex;
    align-items: center; /*align vertical */
}

.upvote {
    padding-right: 0;
}

.heart {
    margin-right: -5px;
}
