<ul class="container col-xs-12 list-group">
    <li class="row" *ngFor="let item of list | async">
        <div class="padding-top col-xs-10">
            {{ item.text }}
        </div>
        <!-- <span class="col-xs-1" (click)="delete(item.$key)">X</span> -->
        <div class="upvote col-xs-2">
            <i class="heart noPadding col-xs-6"
               aria-hidden="true"
               [ngClass]="isActive(item.$key) ? 'fa fa-heart' : 'fa fa-heart-o'"
               (click)="upvote(item.upvote, item.$key)"
               (click)="upvoteButtonClicked(item.upvote, item.$key)">
            </i>
            <div class="noPadding col-xs-6">
                {{item.upvote}}
            </div>
        </div>
    </li>
</ul>
