.sebm-google-map-container {
    padding: 0;
    height: 250px;
}

.app {
    background-color: #F7FFF7;
}

.center {
    text-align: center;
    font-family: 'Mogra', cursive;
    color: #5e5e5e;
}

.inputField {
    padding-left: 30px;
    padding-right: 0;
}
