<div class="input">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                 <input class="form-control inputform" #search
                 placeholder="search for location"
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="off"
                 type="text"
                 [formControl]="searchControl">
            </div>
        </div>
    </div>
</div>
<div class="container app">
    <div class="row">
        <app-navbar class="noPadding col-xs-12"
        [title]="title"
        >
        </app-navbar>



        <agm-map class="col-xs-12"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [mapDraggable]="true"
        [streetViewControl]="false"
        [disableDefaultUI]="true"
        >

            <agm-marker
            [latitude]="lat"
            [longitude]="lng"
            [markerDraggable]="true"
            [openInfoWindow]="true"
            (dragEnd)="setMarkerPosition($event)"
            (dragEnd)="renderMessages()"
            >
                <agm-info-window
                [isOpen]="true"
                >
                    Itt kell nagyon pisilned!
                </agm-info-window>

            </agm-marker>

            <agm-marker *ngFor="let item of list | async"
            [latitude]="item.location.lat"
            [longitude]="item.location.lng"
            [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
                <agm-info-window #window
                [isOpen]="checkIfOpen(window)"
                (infoWindowClose)="infoWindowClose(window)"
                >
                    {{item.text}}<br>
                    <i class="fa fa-heart right"></i>{{item.upvote}}<br>
                    távolság: <strong>{{ howFar(item.location.lat, item.location.lng) }} m</strong><br>
                    <a [attr.href]="putOnMaps(item.location.lat, item.location.lng)">Google Maps</a>
                </agm-info-window>
            </agm-marker>

        </agm-map>

        <div class="inputField col-xs-12 row">
            <div class="noPadding col-xs-10">
                <input type="text" class="form-control col-xs-12" #textInput>
            </div>
            <div class="noPadding col-xs-2">
                <button class="btn btn-primary col-xs-12" (click)="add(textInput)">Add</button>
            </div>
        </div>

        <app-texts [list]="list"
                   [location]="location"
                   (itemDeleted)="deleteItem($event)"
                   (upvoteCreated)="onUpvoteAdded($event)"
                   (upvoteDeleted)="onUpvoteDeleted($event)"
                   (itemClicked)="openInfoWindow($event)"
                   >
        </app-texts>




    </div>
</div>
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="center">Mennyire kell pisilni?</p>
                <md-slider class="slider col-xs-12"
                [min]="50"
                [max]="1000"
                [step]="1"
                [value]="distance"
                [invert]="true"
                (change)="setDistance($event)"
                (change)="renderMessages()"
                (change)="checkIfOpen(window)"
                (change)="setZoom(distance)"
                >
                </md-slider>
                <p class="center">{{distanceToValue()}}</p>
            </div>
        </div>
    </div>
</div>
