.sebm-google-map-container {
    padding: 0;
    height: 250px;
}

.app {
    background-color: #FFFDE7;
}

.center {
    text-align: center;
    font-family: 'Mogra', cursive;
    color: #5e5e5e;
}

.inputField {
    padding-left: 30px;
    padding-right: 0;
}

.bottom {
    height: 58px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.slider {
    margin: -15px 0 -15px 0;
}

p {
    margin-bottom: 0;
}

.input {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 55px;
}

.inputform {
    height: 25px;
}

.peesuccess {
    font-family: 'Mogra', cursive;
    background-color: #FFE66D;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12) !important;
}
